<ion-view title="Plan your workout" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="planYourWorkout-form1" class="list ">
            <label class="item item-select " id="planYourWorkout-select1">
                <span class="input-label">How many rounds?</span>
                <select></select>
            </label>
            <label class="item item-select " id="planYourWorkout-select2">
                <span class="input-label">How long is each round?</span>
                <select></select>
            </label>
            <label class="item item-select " id="planYourWorkout-select3">
                <span class="input-label">How long is each rest?</span>
                <select></select>
            </label>
        </form>
        <button id="planYourWorkout-button1" class=" button button-positive  button-block ">Start my workout!</button>
    </ion-content>
</ion-view>