<ion-view title="Plan your workout" id="page2" class=" ">
    <ion-content padding="true" class="has-header boxing-background">
        <form id="planYourWorkout-form1" class="list " novalidate>
            <label class="item item-select " id="planYourWorkout-select1">
                <span class="input-label">How many rounds?</span>
                <select ng-model="workout.rounds">
                  <option value="1">1 Round</option>
                  <option value="2">2 Rounds</option>
                  <option value="3">3 Rounds</option>
                  <option value="4">4 Rounds</option>
                  <option value="5">5 Rounds</option>
                  <option value="6">6 Rounds</option>
                  <option value="7">7 Rounds</option>
                  <option value="8">8 Rounds</option>
                  <option value="9">9 Rounds</option>
                  <option value="10">10 Rounds</option>
                  <option value="11">11 Rounds</option>
                  <option value="12" ng-selected="true">12 Rounds</option>
                </select>
            </label>
            <label class="item item-select " id="planYourWorkout-select2">
                <span class="input-label">Round Time</span>
                <select ng-model="workout.roundsTime">
                  <option value="180" ng-selected="true">3 Minutes</option>
                  <option value="150">2 Minutes, 30 Seconds</option>
                  <option value="120">2 Minutes</option>
                  <option value="90">90 Seconds</option>
                  <option value="60">60 Seconds</option>
                  <option value="30">30 Seconds</option>
                </select>
            </label>
            <label class="item item-select " id="planYourWorkout-select3">
                <span class="input-label">Rest Time</span>
                <select ng-model="workout.restTime">
                  <option value="180">3 Minutes</option>
                  <option value="150">2 Minutes, 30 Seconds</option>
                  <option value="120">2 Minutes</option>
                  <option value="90">90 Seconds</option>
                  <option value="60" ng-selected="true">60 Seconds</option>
                  <option value="30">30 Seconds</option>
                </select>
            </label>
        </form>
        <button id="planYourWorkout-button1" class="button button-dark button-block" ng-click="submitWorkout()">Start my workout!</button>
    </ion-content>
</ion-view>
