<ion-view title="Timer" id="page4">
    <ion-content padding="true" class="has-header boxing-background">
        <ion-list id="timer-list2">
            <ion-item id="timer-list-item6">Rounds completed: {{ roundsCompleted || 0 }}</ion-item>
            <ion-item id="timer-list-item7">Rounds remaining: {{ roundsRemaining || 0 }}</ion-item>
            <ion-item id="timer-list-item8">Time remaining for this round: {{ roundTimeRemainingObj.hours || '00' }} : {{ roundTimeRemainingObj.minutes || '00' }} : {{ roundTimeRemainingObj.seconds || '00' }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
